mixin section-box(span, title, sort)
  div(class='section-title')
    div.row
      div(class='col-md-8')
        h2= title
      div.col-md-4.sort-box(data-sort=sort)
        i.icon-reorder
        a(href="#").order-by-alpha.selected.order-btn A
        a(href="#").order-by-popularity.order-btn P